<div class="container">
    <div *ngIf="isCreate; else elseTitleBlock">
        <h1 class="formTitle">Create Event Form</h1>
    </div>
    <ng-template #elseTitleBlock>
        <h1>Update Event Form</h1>
    </ng-template>
    <form (ngSubmit)="isCreate ? onCreateSubmit() : onUpdateSubmit()" #eventForm="ngForm">
        <label for="name">Name</label>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                id="name"
                required
                [(ngModel)]="model.name" 
                name="name"
            >
        </div>
        <label for="location">Location</label>
        <div class="form-group">
            <input 
                type="text" 
                class="form-control" 
                id="location"
                required
                [(ngModel)]="model.location" 
                name="location"
            >
        </div>
        <label for="cost">Cost</label>
        <div class="form-group">
            <input 
                type="number" 
                class="form-control" 
                id="cost"
                required
                [(ngModel)]="model.cost" 
                name="cost"
            >
        </div>
        <button type="submit">
            {{isCreate ? "Submit New Event" : "Update Event"}}
        </button>
    </form>
</div>